.search__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;

  & > * {
    width: 600px !important;
    max-height: 45px !important;
    max-width: 23%;
  }

  @media (max-width: 1024px) {
    & > * {
      max-width: 160px;
      max-height: 45px;
    }

  }

  @media (max-width: 768px) {
    flex-direction: column;

    .header__mode-switcher-wrapper {
    }
    & > * {
      align-self: center;
      display: inline-block;
      margin-bottom: 15px;
      max-width: 100%;
    }
  }
}