
.search__textField {
  height: 45px;
  font-size: 13px;
  border-radius: 8px;
  padding-left: 15px;
  &:focus {
    outline: none;
  }
}

.search__textField[data-theme="light"] {
  background: #FFFFFF;
  border: 1px solid #000000;
}
.search__textField[data-theme="dark"] {
  background: #000000;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}